#name{
    width: 100%;
}
#email{
    width: 100%;
}
#telph{
    width: 100%;
}
body{
    background-color: beige;
}
.cim{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.alcim{
    font-style: italic;
    text-decoration: underline;
    font-size: large;
}
.doboz{
    border: 2px black dotted;
    display: inline-block;

}
#prod1{
    background-color: rgb(0, 255, 255);
}
#prod3{
    background-color: rgb(255, 204, 0);
}
#prod2{
    background-color: rgb(30, 255, 0);
}
button:hover {
    transition-duration: 0.5s;
    box-shadow: 2px 2px black;
}
button:active {
    transform: translateY(5px);
}
button{
    width: 200px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    font-size: x-large;
}
.img1{
    width: 230px;
    height: 270px;
}
.img2{
    width: 270px;
    height: 270px;
}
.img3{
    width: 290px;
    height: 220px;
}